# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
symfony/app/cache/*
symfony/bin/*
symfony/app/logs/*
nbproject/*
app/config/parameters.yml
vendor/friendsofsymfony/*
web/shop/cache/*
web/socket/client/*
web/socket/launcher/*
web/socket/*
/web/players-data/
!/web/bundles/atomicshop/
!/web/bundles/stfalcontinymce/
!/web/bundles/acmedemo/
!/web/bundles/sensiodistribution/
!/web/bundles/sonataadmin/
!/web/bundles/atomicapi/
!/web/bundles/atomicmap/
!/web/bundles/framework/
!/app/bootstrap.php.cache
!/vendor/autoload.php
!/vendor/composer/
!/vendor/symfony/