{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
<div class="blog-item">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
</div>
{% endblock content %}
