{% extends '::base.html.twig' %}

{% block content -%}
{{ tinymce_init() }}
    <h1>Server creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('atomic_server_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
