{% extends '::base.html.twig' %}
{% block content %}
<div class="blog-item">
    <h1>Начать играть</h1>
    <p>лаунчер - хуяунчер качать - хуять</p>
    <p>правила- хуявила</p>
    <br>
    <br>
    <br>
    <br><br><br>
    <br>
    <br><br>v<br>
    
    
    
    
    <p>Итп</p>
    
</div>

{% endblock content %}
