{% extends 'AtomicBlogBundle::layout.html.twig' %}
{% block content %}
 {% block js_additional  %}
<script src="/js/jquery.min.js"></script>
<script src="/lib/minecraft/Three.js"></script>
<script src="/lib/minecraft/RequestAnimationFrame.js"></script>

{% javascripts '@AtomicUserBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}""></script>
{% endjavascripts %}


{% endblock %}
<script type="text/javascript">
    $(document).load(function() {
        
        var container = document.getElementById('steve');
        alert(container);
        alert(1);
        drawSteve(container, "{{user.username}}", "/{{skin.getUploadDir}}");
    }
    );
    </script>

<div class="blog-item">


    <h1>Поздравляем, {{user.username}}</h1>
    <p>Ваш скин успешно обновлен</p>
    <div id="steve"></div>
</div>
{%endblock %}