<div class="new-users">
    <div class="new-user register-your-motherfuckin-bitch">
        <a href="/register">Попасть сюда</a>
    </div>
{%for user in users %}

    <div class="new-user"><a href="{{path("atomic_user_show", { 'name': user.username })}}">{{user.username}}</a></div>

{%endfor%}



</div>
