<div class="new-users">
    <div class="new-user register-your-motherfuckin-bitch">
        <a href="/register">Попасть сюда</a>
    </div>
{%for user in users %}

    <div class="new-user">{{user.getUsername}}</div>

{%endfor%}



</div>
