{% if countPages > 0 %}
<ul class="pagination">
{% for i in range(low=1, high=countPages, step=1) %}
{% if i == currentPage %}
        <li class="active"><span>{{i}}<span class="sr-only">(current)</span></span></li>
{%else %}
        <li><a href="{{path('atomic_user_list_page',{"page":i})}}">{{i}}</a></li>
{%endif%}
{% endfor %}
</ul>
{%endif %}